<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mockEngineSettings" type="MockEngine.Configuration.MockEngineConfigurationSettings, MockEngine" />
  </configSections>

  <mockEngineSettings name="mockTest" scenarioResolver="MockEngine.Resolvers.ResourceScenarioResolver, MockEngine">
    <scenarioResolverSettings pathBase="MockEngine.TestWeb.ScenarioResources.">
      <assemblies>
        <add name="MockEngine.TestWeb"></add>
      </assemblies>
    </scenarioResolverSettings>
  </mockEngineSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>